.pagination{
    display: flex;
    gap: 1px;
    overflow: auto;
    width: 440px;
    margin: 25px auto;
}

.pagination::-webkit-scrollbar {
    width: 0;
    height: 0;
}


.pagination a {
    padding: 5px;
    text-decoration: none;
    background:snow;
    color: black;
    font-size: 15px;
    border: 1px solid black;
}



.pagination a:hover{
    background:orange ;
}

.pagination a[class='active']{
    background: orange;
}