.header,.headerOrange{
    width: 886px;
    background: #323232;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 160px;
    flex-wrap: wrap;
}

.img{
    width: 150px;
}

.headerOrange{
    background: orange;
}

.containerForGenreBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px ;
    gap: 3px;
}
